<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Ocorreu um Erro</title>
</head>
<body>
  <h1>Ops! Algo deu errado.</h1>
  <p>Desculpe, não conseguimos processar sua solicitação.</p>
</body>
</html>