<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleGenerico.css">
    <title>Saúde Access</title>
    <link rel="stylesheet" href="/css/protected.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="js/auth-utils.js"></script>
</head>
<body class="protected">
    <header>
        <h1>Hospitais mais procurados</h1>
    </header>
    <main>
        <form action="#" class="form-busca-hospital">
            <input type="search" name="pesquisar-hospitais" class="inp-busca-hospital" placeholder="Pesquisar hospital" autocomplete="off">
            <button type="submit" class="btn-busca-hospital" aria-label="Pesquisar">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
            </button>
        </form>
        <div class="container-hospitais">
            <div class="div-butoes">
                <a href="/hospital" class="botao-hospital" aria-label="Hospital São Rafael">
                    <span class="botao-hospital-nota">8</span>
                    <span class="botao-hospital-nome">Hospital São Rafael</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Português">
                    <span class="botao-hospital-nota">5</span>
                    <span class="botao-hospital-nome">Hospital Português</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Aliança">
                    <span class="botao-hospital-nota">3</span>
                    <span class="botao-hospital-nome">Hospital Aliança</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Roberto Santos">
                    <span class="botao-hospital-nota">7</span>
                    <span class="botao-hospital-nome">Hospital Roberto Santos</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Santa Izabel">
                    <span class="botao-hospital-nota">6</span>
                    <span class="botao-hospital-nome">Hospital Santa Izabel</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Geral do Estado">
                    <span class="botao-hospital-nota">4</span>
                    <span class="botao-hospital-nome">Hospital Geral do Estado</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Cardiopulmonar">
                    <span class="botao-hospital-nota">9</span>
                    <span class="botao-hospital-nome">Hospital Cardiopulmonar</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital do Subúrbio">
                    <span class="botao-hospital-nota">2</span>
                    <span class="botao-hospital-nome">Hospital do Subúrbio</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Aristides Maltez">
                    <span class="botao-hospital-nota">5</span>
                    <span class="botao-hospital-nome">Hospital Aristides Maltez</span>
                </a>
                <a href="#" class="botao-hospital" aria-label="Hospital Jorge Valente">
                    <span class="botao-hospital-nota">7</span>
                    <span class="botao-hospital-nome">Hospital Jorge Valente</span>
                </a>
            </div>
        </div>
    </main>
    <%- include ('partials/navbar.ejs') %>
    <script src="js/global.js"></script>
</body>
</html>