<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleGenerico.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - Saude Access</title>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
    <header>       
        <h1>Login</h1>
    </header>
    <main>
        <div class="login-container">
            <div class="login-section">
                <form id="formLogin">
                    <div class="login-item">
                        <div class="login-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
                            </svg>
                        </div>
                        <div class="input-group">
                            <label for="cliente_email" class="label-login">CPF ou E-mail</label>
                            <input type="email" name="cliente_email" id="login-email" placeholder="Digite seu E-mail" class="input-login" required>
                        </div>
                    </div>
                    
                    <div class="login-item">
                        <div class="login-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Z"></path>
                            </svg>
                        </div>
                        <div class="input-group">
                            <label for="cliente-senha" class="label-login">Senha</label>
                            <input type="password" name="cliente-senha" id="login-senha" placeholder="Digite sua senha" class="input-login" required>
                        </div>
                    </div>
                    
                    <div class="login-opcoes">
                        <div class="checkbox-container">
                            <input type="checkbox" id="lembrar-login" class="config-checkbox">
                            <label for="lembrar-login" class="config-checkbox-label">Lembrar-me</label>
                        </div>
                        <a href="recuperarSenha.html" class="esqueci-senha">Esqueci minha senha</a>
                    </div>
                    
                    <button type="submit" class="btn-entrar">
                        Entrar
                    </button>
                </form>
                
                <div class="login-cadastro">
                    <p>Não tem uma conta?</p>
                    <a href="/cadastro" class="btn-cadastro">Cadastre-se</a>
                </div>
            </div>
        </div>
    </main>
    <script src="js/login.js"></script>
    <script src="js/global.js"></script>
</body>
</html>