<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha | Saúde Access</title>

    <link rel="stylesheet" href="/css/styleGenerico.css" />
    <link rel="stylesheet" href="/css/recuperarSenha.css" />

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="/js/global.js"></script>
    <script src="/js/auth-utils.js" defer></script>
    <script src="/js/recuperarSenha.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/favorite.ico">
</head>
<body>
    <header>
        <h1>Recuperar Senha</h1>
    </header>
    <main>
        <div class="recuperar-container">
            <div class="recuperar-section">
                <p class="recuperar-info">
                    Insira seu e-mail abaixo. Se ele estiver associado a uma conta, enviaremos um link para você redefinir sua senha.
                </p>
                <form id="formRecuperarSenha">
                    <div class="recuperar-item">
                        <div class="recuperar-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"></path>
                            </svg>
                        </div>
                        <div class="input-group">
                            <label for="recuperar-email" class="label-recuperar">E-mail</label>
                            <input type="email" name="recuperar-email" id="recuperar-email" placeholder="Digite o e-mail da sua conta" class="input-recuperar" required>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn-enviar">
                        Enviar Link
                    </button>
                </form>
                
                <div class="recuperar-voltar">
                    <a href="/login" class="btn-voltar">Lembrou a senha? Faça login</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>